extends ../layouts/default.layout.pug

block body
    h1.text-3xl.font-bold.underline Home page
    button click me
    p(x-text="open")
    icon(src="chevron-down.svg", width="48", height="48")

    .box-view.box-view--black
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80

    .box-view.box-view--white
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80
    
    .box-view.box-view--color-1
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80
    
    .box-view.box-view--color-2
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80
    
    .box-view.box-view--color-3
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80
    
    
    +WSlideNavigation('sn_00')
        +WSlideNavigationItem('scene_0')
            .card
                .card-body
                    p Scene 00_00
                    .btn-group
                        button.btn.btn-outline-primary(@click="nextScene('scene_1')")
                            | next to 00_01
                        button.btn.btn-outline-primary(@click="nextScene('scene_5')")
                            | next to 00_02

        +WSlideNavigationItem('scene_1')
            .card
                .card-body
                    p Scene 00_01
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi esse quos suscipit asperiores, quia officiis? Dolor rerum pariatur totam fugit? Optio, neque eius in dolores consequatur perferendis deleniti. Quidem, repellat.
                    div(x-data="deneme", x-id="yellow")
                        <input type="text" class="form-control mb-4" placeholder="text" x-model="sayi">
                        p(x-text="sayi")
                    .btn-group
                        button.btn.btn-outline-primary(@click="prevScene") prev
                        button.btn.btn-outline-primary(@click="nextScene('scene_2')") next to 01_00
                        button.btn.btn-outline-primary(@click="nextScene('scene_3')") next to 01_01
                        button.btn.btn-outline-primary(@click="nextScene('scene_4')") next to 01_02

        +WSlideNavigationItem('scene_2')
            .card
                .card-body
                    p Scene 01_00
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

        +WSlideNavigationItem('scene_3')
            .card
                .card-body
                    p Scene 01_01
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

        +WSlideNavigationItem('scene_4')
            .card
                .card-body
                    p Scene 01_02
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

        +WSlideNavigationItem('scene_5')
            .card
                .card-body
                    p Scene 00_02
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

    
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?
        a(href="#") Hello world
    
    p.text-red-600 Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?
