mixin SlideNavigation(data_name)
	// nav.w-sn 
	nav.w-sn(x-data=data_name, x-cloak)&attributes(attributes)
		.w-sn__wrapper
			block
	// ## nav.w-sn 

mixin SlideNavigationItem(scene_name)
	// .w-sn__item 
	.w-sn__item(
		x-data="",
		data-scene=scene_name,
		:class="sceneClasses"
	)&attributes(attributes)
		block
	// ## .w-sn__item 
